@import "mixins.less";

    .intro {
        height: 120px;

        .tracelytcs_logo {
            background: url("../img/logo_color.png") no-repeat scroll 0 10px transparent;
            border-right: 1px solid #CCCCCC;
            float: left;
            height: 120px;
            margin: 0 10px 0 0;
            overflow: hidden;
            text-indent: -999px;
            width: 100px;
        }

        h1 {
            margin: 0 0 15px 100px;
            padding: 10px 0 0 0;
        }

        p {
           margin: 0 0 0 100px;
        }
    }

    .start {
        .cta_button(210px, @trace-aqua);
        font-size: 20px;
        margin: 10px 0 50px;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        width: 270px;
    }

    .upsell {
        border-top: 1px solid #CCCCCC;
        clear: both;
        margin: 30px 0 0;
        padding: 10px 0 0;
    }

    .view {
        clear: both;
        margin: 20px 0 10px 0;

        a {
            line-height: 20px;
        }
    }


    .first_ftw,
    .second_ftw {
        border: dashed 2px @trace-orange;
        color: @trace-orange;
        font-size: 16px;
        font-weight: normal !important;
        margin: 20px 0 20px 0;
        padding: 10px;
        text-align: center;
    }

    .way_down_here {
        border: dashed 2px @trace-orange;
        padding: 10px;
        width: 174px;
        margin: 0 auto;
        margin-top: 600px;
        margin-bottom: 600px;
    }



